name: Waka Readme

on:
  schedule:
    # Runs at 8am CST
    - cron: '0 14 * * *'
  workflow_dispatch:
jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          # See: https://github.com/anmol098/waka-readme-stats#flags-available
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SECTION_NAME: waka
          SHOW_TOTAL_CODE_TIME: True
          SHOW_LINES_OF_CODE: True
          SHOW_PROFILE_VIEWS: True
          SHOW_DAYS_OF_WEEK: False
          SHOW_TIMEZONE: False
          SHOW_OS: False
          SHOW_COMMIT: True
          SHOW_PROJECTS: True
          SHOW_EDITORS: True
          SHOW_SHORT_INFO: False
          SHOW_LOC_CHART: False
          SHOW_UPDATED_DATE: True
          DEBUG_LOGGING: True
          UPDATED_DATE_FORMAT: "%A, %B %d at %l:%M%P"
          IGNORED_REPOS: "expo"
